body, body > * {
        margin: 0;
        padding: 0;
        font-family: Inter, sans-serif;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: geometricprecision;
    }

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
}

.header div {
    grid-area: 1 / 1 / 1 / 2;
}

.header-item {
    padding: 15px;
    cursor: pointer;
    color: #555;
    text-decoration: none;
}

.header-item:hover {
    color: #000;
}

#impressum {
    grid-area: 1 / -4 / 1 / -3;
}

#blog {
    grid-area: 1 / -3 / 1 / -2;
}

#about {
    grid-area: 1 / -2 / 1 / -1;
}

.banner {
    display: block;
}

.banner-image {
    background-image: url("vini.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 300px;
    box-shadow: inset 0px 0px 5px 5px #fff;
}

.banner-main-text {
    float: left;
    font-size: 5vmax;
    text-align: center;
    width: 100%;
    margin: 1em 0 0.5em 0;
    color: #fff;
}

.banner-secondary-text {
    float: left;
    font-size: 3vmax;
    font-family: Inter;
    text-align: center;
    width: 100%;
    margin-bottom: 4em;
    color: #fff;
}

@media (min-width: 40em) {
    .banner {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(12, 50px);
        margin-bottom: 8em;
    }

    .banner-image {
        grid-area: 1 / 1 / -1 / 7;
        background-position: -20vmin top !important;
        width: unset;
        height: unset;
    }

    .banner-main-text {
        grid-area: 2 / 8 / 7 / 15;
        font-size: 8vmax;
        line-height: 8vmax;
        place-self: center;
        text-align: center;
        color: #000;
    }

    .banner-secondary-text {
        grid-area: 6 / 8 / -3 / 15;
        font-size: 3vmax;
        place-self: center;
        text-align: center;
        margin-bottom: 0 !important;
        color: #000;
    }
}

@media (min-width: 50em) {
    .banner-image {
        background-position: -10vmin top !important;
        width: unset;
        height: unset;
    }
}

@media (min-width: 55em) {
    .reviews {
        column-count: 2 !important;
        min-width: 20em;
    }

    .course {
        flex: 0 0 calc(50% - 6em);
        max-width: calc(50% - 6em);
    }
}

@media (min-width: 62em) {
    .banner-image {
        background-position: left top !important;
        width: unset;
        height: unset;
    }

    .banner-main-text {
        font-size: 7vmax;
        line-height: 6vmax;
        grid-area: 2 / 8 / 8 / 15;
    }

    .banner-secondary-text {
        font-size: 3vmax;
        grid-area: 6 / 8 / -1 / 15;
        margin-bottom: 0 !important;
    }
}

@media (min-width: 81em) {
    .banner-main-text {
        font-size: 6.5vmax;
        line-height: 6vmax;
    }

    .banner-secondary-text {
        font-size: 3vmax;
    }
}

.beige {
    background-color: blanchedalmond;
}

.reviews-box {
    margin: 0 0 5em 0;
    padding: 2em;
    background-color: #466a8b;
}

.courses-box {
    margin: 0 0 5em 0;
    padding: 0 2em 0 2em;
}

.reviews-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 3em 0;
    color: #fff;
}

.courses-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.levels-message p {
    background-color: #466a8b;
    color: #fff;
    width: calc(100% - 4em);
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 2em;
}

.reviews-header p, .courses-header p, .quiz-header p {
    font-size: 1.8em;
    line-height: 1em !important;
    font-weight: 500;
}

.reviews {
    column-count: 1;
    column-gap: 2rem;
    width: 100%;
    margin: auto;
}

.review {
    border-radius: 1em;
    background-color: #f9fafb;
    padding: 2em;
    margin-bottom: 2rem;
    display: inline-block;
}

.review .rating {
    background-image: url('star.svg');
    width: 100px;
    height: 20px;
    margin-bottom: 20px;
}

.review .review-text {
    margin-bottom: 20px;
    font-weight: 550;
    font-size: 1.25em;
    letter-spacing: normal;
    line-height: 1.5;
}

.review .student {
    display: flex;
    align-items: center;
}

.review .student img, .review .student .initial {
    height: 3em;
    width: 3em;
    min-height: 3em;
    min-width: 3em;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}

.review .student .initial {
    border: 2px solid #ff924d;
    text-align: center;
    line-height: 3em;
    font-weight: 700;
    background-color: #466a8b;
    color: #fff;
}

.courses {
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: 100%;
    text-align: center;
    box-shadow: -10px 10px 20px rgba(0,0,0,.15);
    margin: 2em 1em 0 1em;
    border-radius: 1.25em;
    padding: 2em;
    transition: all .4s linear;
}

.reviews.expanded .review {
    display: inline-block !important;
}

.review:nth-child(n + 3) {
    display: none;
}

#toggle-reviews {
    width: 20vw;
    margin: 6vmax 62.5% 6vmax 37.5%;
    cursor: pointer;
}

.course:hover {
    box-shadow: -10px 10px 20px rgba(0,0,0,0.3);
    padding: 1.95em 1.95em 2.05em 2.05em;
    background-color: #466a8b;
    color: #fff;
}

.course p {
    font-size: 1.2em;
}

.course p:last-of-type {
    margin-bottom: 2em;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    background-color: #466a8b;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    max-width: max-content;
    padding: 0.5em 1.5em;
    border-radius: 10px;
}

.course:hover .button, .button:hover {
    background-color: #fff;
    color: #466a8b;
}

.button-inverse-color {
    color: #466a8b;
    background-color: #fff;
}

.button-inverse-color:hover {
    color: #5983ab;
    background-color: #fff;
    padding: 0.49em 1.49em 0.51em 1.51em;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.3);
}

.quiz-box {
    background-color: #466a8b;
    color: #fff;
    width: 100%;
}

.quiz-header {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0 2em 0;
}

.quiz-header > span {
    display: block;
}

.quiz-header .button {
    margin: 1em 0 0 0;
    font-size: 1em;
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    display: inline-block;
}

.imprint {
    font-size: 1.5em;
    margin: 1em 0 0 2em;
}

.imprint div p {
    margin: 0;
}

.vini {
    background-image: url("vini.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    margin-left: 2em;
}

@media (min-width: 50em) {
    .imprint-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
}

.copyright {
    text-align: center;
    font-size: 2vmax;
    line-height: 10vmax;
}